<div class="w-form">
            <form class="form" id="email-form" name="email-form" data-name="Email Form">
              <label class="field-label" for="name">Name:</label>
              <input class="w-input text-field" id="name" type="text" placeholder="Enter your name" name="name" data-name="Name" autofocus="autofocus"></input>
              <label class="field-label" for="email">Email Address:</label>
              <input class="w-input text-field" id="email" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required"></input>
              <label class="field-label" for="Message">Message:</label>
              <textarea class="w-input text-field" id="Message" placeholder="What's on your mind?" name="Message" data-name="Message"></textarea>
              <input class="w-button button" type="submit" value="Submit" data-wait="Please wait..."></input>
            </form>

            <div class="w-form-done">
              <p>Thank you! Your submission has been received!</p>
            </div>

            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form</p>
            </div>
</div>